{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="container top-padding text-center overlay">
    <div class="row">
        <div class="col-12">
            <h3>Your Subscription</h3>
        </div>
        <div class="col-12">
            <h4>£{{ price }} per month</h4>
        </div>
        <div class="col-12">
            <p>You can cancel your membership at any time!</p>
        </div>
        <div class="col-12">
            <p>Click the checkout button below to confirm you're happy to begin the checkout process.</p>
        </div>
    </div>
</div>
<div class="text-center pt-3">

    <button type="button"class="btn btn-lg btn-block btn-outline-primary" id="checkout-button" data-secret="{{ session_id }}">
        Checkout
    </button>

</div>

{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    var sessionid = "{{session_id}}";
</script>
<script src="{% static 'membership/js/checkout.js' %}"></script>
{% endblock %}