{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.member.membership %}
<div class="container top-padding text-center">
        <div class="container">
            <form action="" method="POST">
                {{ tdee_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-primary" id="profile-redirect" type="submit">Calculate</button>
            </form>
        </div>
    {% else %}    
    <div class="overlay">
        <div class="container top-padding">
            <div class="row">
                <div class="col-12">
                    <div class="card text-center">
                        <div class="card-header">
                            <h4>Subscription Plan</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">20.00 / month</h5>
                            {% if user.is_authenticated %}
                                <div class="text-right">
                                    <a href="{% url 'checkout' %}"><button type="button"
                                            class="btn btn-lg btn-block btn-outline-primary">Subscribe to Milestone Fitness</button></a>
                                </div>
                            {% else %}
                                <div class="container top-padding">
                                    <p>Please register before subscribing</p>
                                    <a href="{% url 'account_signup' %}"><button type="button"
                                        class="btn btn-lg btn-block btn-outline-primary">Register</button></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endif %}
<div class="white-background">
    <div class="container text-center">
        <div class="row">
            <h2 class="site-header display-5 fw-bold">Subscription Features</h2> 
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <h2 class="display-6">Calorie calculator</h2>
                <hr>
                <p class="lead">Fill in our simple form to calculate your TDEE (Total
                    daily energy expenditure). We can then use this information to
                    generate a <strong>personalised meal plan based on macros</strong>, helping you to
                    <strong>lose weight fast!</strong>
                </p>
            </div>
            <div class="col-12 col-md-4">
                <h2 class="display-6">Meal plan generator</h2>
                <hr>
                <p class="lead"><strong>A personalised weight loss plan for your body.</strong> With this plan, you get
                    to choose the meals you like,
                    so you never have to eat the same thing every day. Plus, lots of variety ensures you get
                    all the nutrient-dense foods you need for <strong>optimum health.</strong>
                </p>
            </div>
            <div class="col-12 col-md-4">
                <h2 class="display-6">Workout at home</h2>
                <hr>
                <p class="lead">High Intensity Interval Training (HIIT) will help
                    you <strong>improve fitness</strong>, burn away fat and increase the amount
                    of calories you burn post workout, this is known as the after burn,
                    ramping up your metabolic rate (the rate at which your body uses up those calories)
                    for sometimes up to 18 hours! All with <strong>no equipment!</strong>
                </p>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block postloadjs %}
    <script src="{% static 'membership/js/checkout.js' %}"></script>
{% endblock %}