{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container top-padding text-center">
    <div class="row">
        <div class="col">
            {% if cancel_at_end %}
                <p>Your membership has been cancelled and will run to the end of your billing cycle.</p>
            {% elif membership %}
                <form action="{% url 'settings' %}" method="POST">
                    {% csrf_token %}
                    <p>1</p>
                    <br>
                    <p>2</p>
                    <br>
                    <h1>12</h1>
                    <br>
                    <h2>geg</h2>
                    <br>
                    <h4>gewoig</h4>
                    <input type="submit" value="Cancel Membership?">
                </form>
            {% else %}
                <a href="{% url 'membership' %}">Get a membership</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}