{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container top-padding text-center overlay">
    <div class="row">
        <div class="col">
            {% if cancel_at_end %}
                <p>Your membership has been cancelled and will run to the end of your billing cycle.</p>
            {% elif membership %}
                <form action="{% url 'settings' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Cancel Membership?">
                </form>
            {% else %}
                <a href="{% url 'membership' %}">Get a membership</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}