{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container top-padding text-center overlay">
        <div class="row">
            <div class="col">
                <h2>Congratulations</h2>
                <h4>You are now a member of Milestone Fitness</h4>
                <p>Click here to set up your profile</p>
                <a href="{% url 'membership' %}"><button type="button"
                    class="btn btn-lg btn-block btn-outline-primary">Setup Profile</button></a>
            </div>
        </div>
    </div>
{% endblock %}