{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container top-padding">
    {% for meal in meals %}                         
        <div class="row">             
            <div class="col-12 col-md-4">
                <p>PLACEHOLDER</p>
            </div>
            <div class="col-12 col-md-8">
                <h3>{{ meal.name }}</h3>
            </div>
            <hr class="ingredients-hr">
            <div class="col-12 col-md-4">
                <h5>Ingredients (1 serving)</h5>
                <ul>
                    {% if meal.dyn_ingredient_1 %}
                        <li>{{ dynamic_ing_1.forloop.counter |default_if_none:"" }} {{ meal.dyn_description_1 |default_if_none:"" }}</li>
                    {% endif %}
                    {% if meal.dyn_ingredient_2 %}
                        <li>{{ meal.dyn_ingredient_2 |default_if_none:"" }} {{ meal.dyn_description_2 |default_if_none:"" }}</li>
                    {% endif %}
                    {% if meal.dyn_ingredient_3 %}
                        <li>{{ meal.dyn_ingredient_3 |default_if_none:"" }} {{ meal.dyn_description_3 |default_if_none:"" }}</li>
                    {% endif %}
                    {% if meal.ingredient_1 %}
                        <li>{{ meal.ingredient_1 |default_if_none:"" }}</li>
                    {% endif %}
                    {% if meal.ingredient_2 %}
                        <li>{{ meal.ingredient_2 |default_if_none:"" }}</li>
                    {% endif %}
                    {% if meal.ingredient_3 %}
                        <li>{{ meal.ingredient_3 |default_if_none:"" }}</li>
                    {% endif %}
                    {% if meal.ingredient_4 %}
                        <li>{{ meal.ingredient_4 |default_if_none:"" }}</li>
                    {% endif %}
                    {% if meal.ingredient_5 %}
                        <li>{{ meal.ingredient_5 |default_if_none:"" }}</li>
                    {% endif %}
                    {% if meal.ingredient_6 %}
                        <li>{{ meal.ingredient_6 |default_if_none:"" }}</li>
                    {% endif %}
                    {% if meal.ingredient_7 %}
                        <li>{{ meal.ingredient_7 |default_if_none:"" }}</li>
                    {% endif %}
                    {% if meal.ingredient_8 %}
                        <li>{{ meal.ingredient_8 |default_if_none:"" }}</li>
                    {% endif %}
                    {% if meal.ingredient_9 %}
                        <li>{{ meal.ingredient_9 |default_if_none:"" }}</li>
                    {% endif %}
                </ul>
                
            </div>
            <div class="col-12 col-md-8">
                <h5>Instructions</h5>
                <p class="text-start">
                    {{ meal.instructions }}
                </p>
            </div>
        </div>        
    {% endfor %}
</div>

{% endblock %}