{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container top-padding">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="..." class="img-fluid rounded-start" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ current_member.user | title }}</h5>
                    <hr>
                    <p class="card-text">{{ current_member.age}} Years Old</p>
                    <p class="card-text">{{ current_member.gender | title }}</p>
                    <p class="card-text">Height: {{ current_member.height}}cm</p>
                    <p class="card-text">Weight: {{ current_member.weight}}kg</p>
                    <p class="card-text">Activity Level: {{ current_member.activity | title}}</p>
                    <p class="card-text">TDEE: {{ current_member.tdee }} calories per day</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Set your goal:</h5>
                    <hr>
                    <form action="" class="list-group list-group-flush">
                        <input type="radio" id="loss" name="goals" class="goals" value="loss">
                        <label for="html">Weight Loss</label><br>
                        <input type="radio" id="maintain" name="goals" class="goals" value="maintain">
                        <label for="css">Maintenance</label><br>
                        <input type="radio" id="gain" name="goals" class="goals" value="gain">
                        <label for="javascript">Weight Gain</label>
                    </form>
                    <hr>
                    <h5 class="card-title">Target Calories: <strong class="target-cals"></strong></h5>
                    <button>Calculate</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a class="nav-link active" aria-current="page" href="{% url 'nutrition:nutrition' %}?cals=targetCals">Nutrition</a>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $(document).ready(function () {
        $("button").click(function () {
            var goalRadio = $(".goals:checked").val();
            if (goalRadio === "loss") {
                targetCals = {{ current_member.tdee }} - 200;
            } else if (goalRadio === "maintain") {
                targetCals = {{ current_member.tdee }};
            } else {
                targetCals = {{ current_member.tdee }} + 200;
            }
            $(".target-cals").html(targetCals);
        });
    });
</script>

{% endblock %}